<div id="<%= dom_id provider %>">
  <p>
    <strong>Saltedge:</strong>
    <%= provider.id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= provider.name %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= provider.code %>
  </p>

  <p>
    <strong>Mode:</strong>
    <%= provider.mode %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= provider.status %>
  </p>

</div>
