<div id="<%= dom_id connection %>" >
  <p>
    <strong>ID:</strong>
    <%= connection.id %>
  </p>

  <p>
    <strong>Secret:</strong>
    <%= connection.secret %>
  </p>

  <p>
    <strong>Provider:</strong>
    <%= connection.provider_id %>
  </p>

  <p>
    <strong>Provider code:</strong>
    <%= connection.provider_code %>
  </p>

  <p>
    <strong>Provider name:</strong>
    <%= connection.provider_name %>
  </p>

  <p>
    <strong>Daily refresh:</strong>
    <%= connection.daily_refresh %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= connection.customer_id %>
  </p>

  <p>
    <strong>Last success at:</strong>
    <%= connection.last_success_at %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= connection.status %>
  </p>

  <p>
    <strong>Country code:</strong>
    <%= connection.country_code %>
  </p>

  <p>
    <strong>Next refresh possible at:</strong>
    <%= connection.next_refresh_possible_at %>
  </p>

  <p>
    <strong>Store credentials:</strong>
    <%= connection.store_credentials %>
  </p>

  <p>
    <strong>Last attempt:</strong>
    <%= connection.last_attempt %>
  </p>

  <p>
    <strong>Show consent confirmation:</strong>
    <%= connection.show_consent_confirmation %>
  </p>

  <p>
    <strong>Last consent:</strong>
    <%= connection.last_consent_id %>
  </p>

  <p>
    <%= link_to "Show accounts", accounts_path(connection), class: "btn btn--secondary" %>
  </p>

</div>

