<%= link_to sanitize("&larr; Back to connections"), connections_path %>
<p style="color: green"><%= notice %></p>
<div class="header">
  <h1>Connection</h1>
</div>

<%= render partial: 'ext_connection', object: @connection, as: :connection %>

<div>
  <%= link_to "Back to connections", connections_path, class: "btn btn--secondary" %>

  <%= button_to "Destroy this connection", @connection, method: :delete, class: "btn btn--primary" %>
</div>
