<div id="<%= dom_id customer %>">
  <p>
    <strong>User:</strong>
    <%= customer.user_id %>
  </p>

  <p>
    <strong>Saltedge:</strong>
    <%= customer.saltedge_id %>
  </p>

  <p>
    <strong>Identifier:</strong>
    <%= customer.identifier %>
  </p>

  <p>
    <strong>Secret:</strong>
    <%= customer.secret %>
  </p>

  <p>
    <strong>Blocked at:</strong>
    <%= customer.blocked_at %>
  </p>

</div>
