<div id="<%= dom_id customer %>" class='customer'>
  <p>
    <strong>ID:</strong>
    <%= customer.id %>
  </p>

  <p>
    <strong>Identifier:</strong>
    <%= customer.identifier %>
  </p>

  <p>
    <strong>Secret:</strong>
    <%= customer.secret %>
  </p>

  <p>
    <strong>Blocked at:</strong>
    <%= customer.blocked_at %>
  </p>

</div>
