
<%= simple_form_for(@transaction) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :account %>
    <%= f.input :duplicated %>
    <%= f.input :mode %>
    <%= f.input :status %>
    <%= f.input :made_on %>
    <%= f.input :amount %>
    <%= f.input :currency_code %>
    <%= f.input :description %>
    <%= f.input :category %>
    <%= f.input :extra %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
