<div id="<%= dom_id transaction %>">
  <p>
    <strong>Account:</strong>
    <%= transaction.account_id %>
  </p>

  <p>
    <strong>Duplicated:</strong>
    <%= transaction.duplicated %>
  </p>

  <p>
    <strong>Mode:</strong>
    <%= transaction.mode %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= transaction.status %>
  </p>

  <p>
    <strong>Made on:</strong>
    <%= transaction.made_on %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= transaction.amount %>
  </p>

  <p>
    <strong>Currency code:</strong>
    <%= transaction.currency_code %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= transaction.description %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= transaction.category %>
  </p>

  <p>
    <strong>Extra:</strong>
    <%= transaction.extra %>
  </p>

</div>
