<div id="<%= dom_id account %>">
  <p>
    <strong>Connection:</strong>
    <%= account.connection_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= account.name %>
  </p>

  <p>
    <strong>Nature:</strong>
    <%= account.nature %>
  </p>

  <p>
    <strong>Balance:</strong>
    <%= account.balance %>
  </p>

  <p>
    <strong>Currency code:</strong>
    <%= account.currency_code %>
  </p>

  <p>
    <strong>Extra:</strong>
    <%= account.extra %>
  </p>

</div>
