<div id="<%= dom_id account %>" >
  <p>
    <strong>ID:</strong>
    <%= account.id %>
  </p>

  <p>
    <strong>Connection:</strong>
    <%= account.connection_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= account.name %>
  </p>

  <p>
    <strong>Nature:</strong>
    <%= account.nature %>
  </p>

  <p>
    <strong>Balance:</strong>
    <%= account.balance %>
  </p>

  <p>
    <strong>Currency:</strong>
    <%= account.currency_code %>
  </p>

  <p>
    <strong>Extra:</strong>
    <%= account.extra %>
  </p>

   <p>
      <%= link_to "Show transactions", transactions_path(account_id: account), class: "btn btn--secondary" %>
   </p>

</div>
